/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";
// @import "_header.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// HELPERSS

.dFlex{
    display: flex;
  }
  
  .spaceBeetween{
    justify-content: space-between;
  }
  
  .spaceAround{
    justify-content: space-around;
  }
  
  .padding15LeftRight{
    padding: 0px 15px 0px 15px;
  }
  
  .alignCenter{
    align-items: center;
  }
  
  .justifyContentCenter{
    justify-content: center;
  }
  
  .zIndex{
    z-index: 999;
    position: relative;
  }


//   HEADER.
.navBar{
    height: 100px;
    width: 100%;
}

img{
    width: 80%;
}

p{
    padding: 0px 15px 0px 15px;
}
p:hover{
    color: #0282F9;
}


// JAMBO
.containerJumbo{
    height: 500px;
    background:url(/public/jumbotron.jpg) ;
    background-size: cover;
}

// FUMETTI.
.containerImg{
    width: 270px;
}
.imgFumetti{
    width: 100px;
}
.titolo{
    color: white;
}
.containerSlides{
    display: flex;
    flex-wrap: wrap;
    background-color: #1C1C1C;
    justify-content: center;
    padding-top: 40px;
}



.mainMenu{
    width: 100%;
    height: 150px;
    background-color:#0282F9 ;
}

.imgMenu{
    height: 30%;
}
.testo{
    color: white;
        margin-left: 15px;
}

.mainMenu div {
    margin-left: 50px;
    align-items: center;
}